
/* algolia*/
html, body{
  background-color:#fff;
  height: 100%;
  min-width: 1280px;
  min-height:1240px;
}
.container{
  padding-top: 30px;
  width:380px !important;
  position: relative;

}
body{
  background-image: url('../img/background.png');
  background-size:cover;
  background-position: top center;
}
input{
  background-color:#fff;
  width:350px;
  height:45px;
  border:none;
  -webkit-appearance:none;
  color:#000;
  text-indent: 10px;
  margin: auto;
  display: block;
  right: 0px;
  border-bottom:0px;
  outline: none;
}
.twitter-typeahead,
.tt-dropdown-menu{
  margin:auto;
  display: block !important;
  right:0px !important;
}
.search{
      position: absolute;
    top: 35px;
    right: 17px;
    width: 35px;
    background-color:#fff;
}
.tt-dropdown-menu{
  background-color:#fff;
  border:1px solid rgba(0,0,0,0.4);
  box-shadow:0px 0px 5px rgba(0,0,0,0.5);
  width:350px;
}
div.full{
  width:350px;
  padding:5px;
  vertical-align: top;
  margin-left:-20px;
  border-bottom:1px solid rgba(0,0,0,0.2);
}
div.left{
  display:inline-block;
  width:80px;
  position: relative;
  vertical-align: top;
  padding-right:10px;
  font-size: 16px;
  max-height:75px;
  overflow: hidden;
}

h1.name{
  font-size: 14px;
  color: blue;
  margin-top:0px;
  padding-top:0px;
  color:#666;
}
.price{
  float:right;
  color:#0d446c;
;
}
.brand{
  float:left;
}

div.left img{
  max-width: 75px;
  width: 75px;
  vertical-align: center;
  overflow: hidden;
}
div.right{
  display:inline-block;
  width: 220px;
  overflow: hidden;
  font-size: 16px;
  padding-left:20px;
  padding-top:0px;
  margin-top:0px;
}


.typeahead-algolia{
  color: red;
}
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}





.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;

}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;

}
